<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ds_icon_01</key>
	<string></string>
	<key>ds_icon_02</key>
	<string></string>
	<key>ds_icon_03</key>
	<string></string>
	<key>ds_icon_04</key>
	<string></string>
	<key>ds_icon_05</key>
	<string></string>
	<key>ds_icon_06</key>
	<string></string>
	<key>ds_icon_07</key>
	<string></string>
	<key>ds_icon_08</key>
	<string></string>
	<key>ds_icon_09</key>
	<string></string>
	<key>ds_icon_10</key>
	<string></string>
	<key>ds_icon_11</key>
	<string></string>
	<key>ds_icon_12</key>
	<string></string>
	<key>ds_icon_13</key>
	<string></string>
	<key>ds_icon_14</key>
	<string></string>
	<key>ds_icon_15</key>
	<string></string>
</dict>
</plist>
